<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="codesmell.dao.mybatis.ShapeDao">


	<insert id="insertShape" 
		statementType="PREPARED"
		useGeneratedKeys="true"
		keyColumn="id"
		keyProperty="shape.id"
		parameterType="codesmell.dao.mybatis.ShapeDto">
		INSERT INTO color_and_shape (shape, color, description)
		VALUES (#{shape.shape}, #{shape.color}, #{shape.description})
	</insert>
	
	<insert id="upsertShape"
		statementType="PREPARED"
		useGeneratedKeys="true"
		keyColumn="id"
		keyProperty="shape.id"
		parameterType="codesmell.dao.mybatis.ShapeDto">	
		INSERT INTO color_and_shape (shape, color, description) 
			VALUES (#{shape.shape}, #{shape.color}, #{shape.description})
		
		ON CONFLICT (shape, color) DO
		
		UPDATE SET
			shape = #{shape.shape},
			color = #{shape.color},
			description = #{shape.description}
	</insert>

	<select id="findShapeById" resultType="codesmell.dao.mybatis.ShapeDto">
		SELECT id, shape, color, description 
		FROM color_and_shape 
		WHERE id = #{id}
	</select>
	
	<select id="findByShapeColor" resultType="codesmell.dao.mybatis.ShapeDto">
		SELECT id, shape, color, description 
		FROM color_and_shape 
		WHERE shape = #{shape}
		AND color = #{color}
	</select>
</mapper>